/* Footer.css */
.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
}

.footer-services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  gap: 10px;
}
