/* NowArrivingGridItem.css */
.now-item {
  position: relative;
  flex: 1 1 200px;
  margin: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.now-item img {
  width: 100%;
  display: block;
}

.now-item .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  width: 100%;
}
